body, .contenuArticleCarteImage, .contenuArticleCarteName, .navSlide, .navSlideClose, .header, .headerPanier, .headerPanierNumber, .footer, .footerSocial, .produitChoisi, .produitChoisiBack, .produitChoisiDetail, .addPanier, .pageCommande, .pageCommandePanier, .pageCommandePanierProduit, .pageCommandePanierProduitDetail, .pageCommandePanierProduitDetail .quantiteAdd, .pageCommandePanierProduitDetail .quantiteRemove, .pageCommandePanierProduitRemove, .pageCommandeTotal, .pageCommandeVide, .formOverlay, .formOverlayClose, .commandeForm, .headerConfirmation, .footerConfirmation, .confirmationMessage, .mainConfirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: 'belligerent';
  src: url(../police/belligerent.ttf) format("truetype");
}

.header h1 {
  font-family: 'belligerent';
  font-size: 7em;
  font-weight: lighter;
}

body {
  font-family: Verdana, sans-serif;
}

.detailNom {
  font-family: 'belligerent';
  font-weight: normal;
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #F3E9F1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.displayOff {
  display: none;
}

@-webkit-keyframes opacityKey {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityKey {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contenuArticleCarte {
  margin: 2% 6%;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 7px black;
          box-shadow: 0px 3px 7px black;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contenuArticleCarteImage {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.contenuArticleCarteName {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
  background-color: #F3E9F1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.contenuArticleCarteName h2 {
  margin: 0;
  color: #261624;
  font-family: sans-serif;
}

.contenuArticleCarte:hover {
  -webkit-box-shadow: 0px 1px 7px #E68A08;
          box-shadow: 0px 1px 7px #E68A08;
}

.contenuArticleCarte:hover .contenuArticleCarteName {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.navSlide {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #261624;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navSlide.animationSlide {
  -webkit-box-shadow: -10px 0 35px #F3E9F1;
          box-shadow: -10px 0 35px #F3E9F1;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.navSlide .fas {
  font-size: 10em;
  margin: 30px 0 40px 15px;
  background: -webkit-gradient(linear, left top, right bottom, from(#E68A08), to(#8F5BFE));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navSlide a {
  text-decoration: none;
  color: #F3E9F1;
  font-family: Verdana, sans-serif;
  font-size: 1.6em;
  margin: 20px 0 0 50px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navSlide a:hover {
  color: #E68A08;
}

.navSlide .ongletActive {
  color: #E68A08;
}

.navSlideClose {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 48%;
  left: 215px;
  height: 70px;
  width: 70px;
  background-color: #261624;
  color: #F3E9F1;
  border-radius: 50%;
  font-size: 1.7em;
  cursor: pointer;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.navSlideCloseUp {
  position: absolute;
  left: 25px;
  -webkit-transform: rotateZ(46deg);
          transform: rotateZ(46deg);
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.navSlideCloseUp.animation {
  left: auto;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.navSlideCloseDown {
  position: absolute;
  right: 25px;
  -webkit-transform: rotateZ(-46deg);
          transform: rotateZ(-46deg);
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.navSlideCloseDown.animation {
  right: auto;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.navSlideClose:hover span {
  color: #E68A08;
}

.overlayOpacity {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-animation: opacityKey 0.3s ease-out forwards;
          animation: opacityKey 0.3s ease-out forwards;
}

.header {
  background-color: #F3E9F1;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.headerLogo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 3%;
}

.header h1 {
  color: #261624;
  margin-left: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
}

.header a {
  text-decoration: none;
}

.headerPanier {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #261624;
  height: 70px;
  width: 70px;
  border-radius: 45px;
  margin-right: 5%;
  position: relative;
}

.headerPanierNumber {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E68A08;
  color: #261624;
  font-weight: bold;
}

.header .fas {
  font-size: 1.8em;
  color: #F3E9F1;
}

.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 250px;
  width: 100%;
  background-color: #261624;
  margin-top: 100px;
}

.footer a {
  text-decoration: none;
  color: #F3E9F1;
  font-size: 1.5em;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.footer a:hover {
  color: #E68A08;
}

.footerSocial {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footerSocial a {
  font-size: 2.5em;
  margin: 0 2%;
}

.footerFaq {
  margin: 0 2%;
}

.footerContact {
  margin: 0 2%;
}

main {
  max-width: 62%;
  margin: auto;
}

.contenuArticle {
  display: none;
}

.contenuActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #261624;
  border-radius: 30px;
  padding: 2% 0;
}

.produitChoisi {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #261624;
  height: 500px;
  border-radius: 30px;
  font-size: 1.2em;
}

.produitChoisiBack {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -150px;
  background-color: #261624;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;
}

.produitChoisiBack .fas {
  color: #F3E9F1;
  font-size: 1.7em;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.produitChoisiBack:hover .fas {
  color: #E68A08;
  -webkit-transform: rotateZ(-360deg);
          transform: rotateZ(-360deg);
}

.produitChoisiImage {
  background-position: center;
  background-size: cover;
  width: 30%;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
}

.produitChoisiDetail {
  height: 100%;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F3E9F1;
}

.produitChoisiDetail h1 {
  font-size: 1.8em;
  color: #E68A08;
}

.produitChoisiDetail label {
  margin-top: 15px;
  margin-bottom: 2px;
}

.produitChoisiDetail select {
  width: 110px;
  height: 20px;
  outline: none;
  border: none;
}

.produitChoisiDetail input {
  width: 110px;
  height: 20px;
  padding: 0;
  outline: none;
  border: none;
  text-align: center;
}

.produitChoisiDetailPrice {
  margin: 15px 0;
  font-size: 1.4em;
}

.addPanier {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 180px;
  margin: 25px auto;
  background-color: #E68A08;
  color: #261624;
  font-size: 0.85em;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 5px black;
          box-shadow: 0 1px 5px black;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.addPanier:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f79711;
  -webkit-box-shadow: 0 2px 10px black;
          box-shadow: 0 2px 10px black;
}

.pageCommande {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.pageCommandePanier {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.pageCommandePanierProduit {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 75%;
  min-width: 500px;
  margin: 10px auto;
  background-color: #F3E9F1;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 7px #261624;
          box-shadow: 0 2px 7px #261624;
}

.pageCommandePanierProduitImage {
  position: absolute;
  left: 0;
  background-position: center;
  background-size: cover;
  height: 100px;
  width: calc(100% - 100px);
  opacity: 0.3;
  z-index: 0;
}

.pageCommandePanierProduitDetail {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: calc(100% - 100px);
  font-size: 1.3em;
  font-weight: bold;
  z-index: 1;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pageCommandePanierProduitDetail .detailNom {
  margin-left: 25px;
}

.pageCommandePanierProduitDetail .detailPrix {
  margin-right: 25px;
}

.pageCommandePanierProduitDetail .quantiteAdd {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E68A08;
  color: white;
  cursor: pointer;
}

.pageCommandePanierProduitDetail .quantiteRemove {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E68A08;
  color: white;
  cursor: pointer;
}

.pageCommandePanierProduitRemove {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #E68A08;
  color: #F3E9F1;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
}

.pageCommandePanierProduitRemove:hover {
  background-color: #f79711;
  color: white;
}

.pageCommandeTotal {
  margin: 30px auto;
  padding: 15px 50px;
  width: 100%;
  border-top: solid 3px #261624;
  font-size: 1.3em;
}

.pageCommandeTotalPrix {
  font-weight: bold;
  margin-left: 50px;
}

.pageCommandeValidation {
  width: 220px;
  height: 50px;
  margin: auto;
  margin-top: 40px;
  border-radius: 30px;
  border: none;
  font-size: 1.3em;
  color: #261624;
  background-color: #E68A08;
  -webkit-box-shadow: 0 1px 5px #261624;
          box-shadow: 0 1px 5px #261624;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.pageCommandeValidation:hover {
  background-color: #f79711;
  color: black;
  -webkit-box-shadow: 0 2px 8px black;
          box-shadow: 0 2px 8px black;
}

.pageCommandeVide {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageCommandeVide p {
  font-size: 2em;
  font-family: 'belligerent';
  margin-bottom: 70px;
}

.pageCommandeVide .far {
  font-size: 7em;
  color: #261624;
}

.formOverlay {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.formOverlayClose {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #E68A08;
  color: #261624;
  font-size: 1.2em;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.formOverlayClose:hover {
  background-color: #f79711;
  color: black;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.commandeForm {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  max-width: 700px;
  padding: 20px 0;
  background-color: #f7f0f5;
  border-radius: 30px;
  font-size: 1.3em;
  -webkit-box-shadow: 0 0 100px #F3E9F1;
          box-shadow: 0 0 100px #F3E9F1;
  overflow: hidden;
}

.commandeForm div input {
  outline: none;
  border: none;
  background: transparent;
  font-size: 0.9em;
  margin-left: 20px;
  width: calc(100% - 130px);
}

.commandeForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: calc(100% - 100px);
  height: 40px;
  border-bottom: solid 2px #261624;
  margin-top: 50px;
}

.commandeForm input[type=submit] {
  margin: 50px auto;
  width: 200px;
  height: 50px;
  background-color: #E68A08;
  color: #261624;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 5px #261624;
          box-shadow: 0 1px 5px #261624;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.commandeForm input[type=submit]:hover {
  background-color: #f79711;
  color: black;
  -webkit-box-shadow: 0 2px 8px black;
          box-shadow: 0 2px 8px black;
}

.headerConfirmation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerConfirmation h1 {
  font-family: 'belligerent';
  font-size: 7em;
  font-weight: lighter;
  margin-right: 10%;
  color: #261624;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footerConfirmation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.footerConfirmation a {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footerConfirmation .far {
  color: #261624;
  font-size: 6em;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.footerConfirmation .far:hover {
  color: #E68A08;
  -webkit-transform: rotateZ(-360deg);
          transform: rotateZ(-360deg);
}

.confirmationMessage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  color: #F3E9F1;
  text-shadow: 0 0 20px #E68A08;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.confirmationMessage span {
  font-family: 'belligerent';
  font-size: 6em;
  font-weight: lighter;
  margin-bottom: 50px;
}

.confirmationMessage .far {
  font-size: 7em;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transform: rotateZ(-30deg);
          transform: rotateZ(-30deg);
  margin-top: 50px;
}

.mainConfirmation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: auto;
  margin-bottom: 250px;
}

.mainConfirmationMerci {
  border-bottom: solid 1px #261624;
}

.mainConfirmationDetail {
  margin-top: 30px;
}

.mainConfirmation .orderId {
  background-color: #E68A08;
}
/*# sourceMappingURL=main.css.map */