body, .contenuArticleCarteImage, .contenuArticleCarteName, .onglet, .onglet li, .header, .headerLogo, .headerPannier, .headerPannierNumber, .footer, .footerSocial, .produitChoisi, .produitChoisiDetail, .addPannier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: 'belligerent';
  src: url(../police/belligerent.ttf) format("truetype");
}

.header h1 {
  font-family: 'belligerent';
  font-size: 7em;
  font-weight: lighter;
}

.onglet {
  font-family: 'belligerent';
  font-size: 2.5em;
}

body {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #F3E9F1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenuArticleCarte {
  margin: 2% 6%;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 7px black;
          box-shadow: 0px 3px 7px black;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contenuArticleCarteImage {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  border-radius: 30px;
}

.contenuArticleCarteName {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
  background-color: #F3E9F1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.contenuArticleCarteName h2 {
  margin: 0;
  color: #261624;
  font-family: sans-serif;
}

.contenuArticleCarte:hover {
  -webkit-box-shadow: 0px 1px 7px #E68A08;
          box-shadow: 0px 1px 7px #E68A08;
}

.contenuArticleCarte:hover .contenuArticleCarteName {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.onglet {
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #F3E9F1;
  min-width: 950px;
}

.onglet li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  width: 30%;
}

.onglet li a {
  color: #261624;
  text-decoration: none;
}

.onglet .ongletActive {
  background-color: #261624;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.onglet .ongletActive a {
  color: #F3E9F1;
}

.header {
  background-color: #F3E9F1;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.headerLogo {
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerLogo h1 {
  color: #261624;
  margin-left: 20px;
}

.headerPannier {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #261624;
  height: 70px;
  width: 70px;
  border-radius: 45px;
  margin-right: 5%;
  position: relative;
}

.headerPannierNumber {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E68A08;
  color: #261624;
  font-weight: bold;
  text-decoration: none;
}

.header .fas {
  font-size: 1.8em;
  background: -webkit-gradient(linear, left top, right bottom, from(#E68A08), to(#8F5BFE));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  width: 100%;
  background-color: #261624;
  margin-top: 100px;
}

.footer a {
  text-decoration: none;
  color: #F3E9F1;
  font-size: 1.5em;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.footer a:hover {
  color: #E68A08;
}

.footerSocial {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footerSocial a {
  font-size: 2.5em;
  margin: 0 2%;
}

.footerFaq {
  margin: 0 2%;
}

.footerContact {
  margin: 0 2%;
}

main {
  max-width: 65%;
  margin: auto;
}

.contenuArticle {
  display: none;
}

.contenuActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #261624;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 2% 0;
}

.produitChoisi {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #261624;
  height: 500px;
  border-radius: 30px;
  font-size: 1.2em;
}

.produitChoisiImage {
  background-position: center;
  background-size: cover;
  width: 30%;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
}

.produitChoisiDetail {
  height: 100%;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F3E9F1;
}

.produitChoisiDetail h1 {
  font-size: 1.8em;
}

.produitChoisiDetail label {
  margin-top: 15px;
  margin-bottom: 2px;
}

.produitChoisiDetail select {
  width: 20%;
  height: 20px;
  outline: none;
  border-radius: 30px;
}

.produitChoisiDetail input {
  width: 20%;
  height: 20px;
  outline: none;
  border-radius: 30px;
  text-align: center;
}

.produitChoisiDetailPrice {
  margin: 15px 0;
  font-size: 1.4em;
}

.addPannier {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 180px;
  margin: 25px auto;
  background-color: white;
  color: #261624;
  font-weight: bold;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */