body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $mainColor;
    @extend %flex;
    flex-direction: column;
    justify-content: space-between;
}
.displayOff {
    display: none;
}