@font-face {
    font-family: 'belligerent';
    src: url(../police/belligerent.ttf) format('truetype');
}

.header h1 {
    font-family: 'belligerent';
    font-size: 7em;
    font-weight: lighter;
}
body {
    font-family: Verdana, sans-serif;
}
.detailNom {
    font-family: 'belligerent';
    font-weight: normal;
    transform: rotateZ(-10deg);
}