// onglet general
.onglet {
    list-style-type: none;
    @extend %flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: $mainColor;
    min-width: 950px;
    & li {
        @include flexcenter;
        height: 55px;
        width: 30%;
        & a {
            color: $secondColor;
            text-decoration: none;
        }
    }
//onglet actif
    .ongletActive {
        background-color: $secondColor;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        & a {
            color: $mainColor;
        }
    }
}