main {
    max-width: 62%;
    margin: auto;
}
//contenu des liste produit si onglet actif ou non
.contenu {
    &Article {
        display: none;
    }
    &Active {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $secondColor;
        border-radius: 30px;
        padding: 2% 0;
    }
}
.mainAccueilPresentation {
    max-width: 700px;
    color: $secondColor;
    & h1 {
        font-size: 1.8em;
        & .presentationH1Color {
            color: $color3;
        }
    }
    & p {
        font-size: 1.2em;
    }
}
