main {
    max-width: 65%;
    margin: auto;
}
//contenu des liste produit si onglet actif ou non
.contenu {
    &Article {
        display: none;
    }
    &Active {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $secondColor;
        border-radius: 30px;
        padding: 2% 0;
    }
}