main {
    min-width: 360px;
    margin: auto;
}
//contenu des liste produit si onglet actif ou non
.contenu {
    &Article {
        display: none;
    }
    &Active {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $secondColor;
        border-radius: 30px;
        padding: 2% 0;
    }
}
// message presentation site
.mainAccueilPresentation {
    margin: auto;
    color: $secondColor;
    & h1 {
        font-size: 1.8em;
        & .presentationH1Color {
            color: $color3;
        }
    }
    & p {
        font-size: 1.2em;
    }
}

// responsive
@media all and (max-width: 500px) {
    .mainAccueilPresentation {
        margin-left: 40px;
        & p {
            font-size: 1.1em;
        }
    }
    .contenu {
        &Active {
            background-color: $color3;
            border-radius: 0;
        }
    }
}

@media all and (min-width: 501px) and (max-width: 1024px) {
    .mainAccueilPresentation {
        margin-left: 50px;
    }
    .contenu {
        &Active {
            margin: 0 50px;
        }
    }
}

@media all and (min-width: 1025px) {
    .mainAccueilPresentation {
        max-width: 700px;
    }
}
