.headerConfirmation {
    @include flexcenter;
    & h1 {
        font-family: 'belligerent';
        font-size: 7em;
        font-weight: lighter;
        margin-right: 10%;
        color: $secondColor;
        user-select: none;
    }
}
// header confirmation pour retourner a la page accueil
.footerConfirmation {
    @extend %flex;
    justify-content: center;
    margin-bottom: 50px;
    & a {
        text-decoration: none;
        width: fit-content;
    }
    & .far {
        color: $secondColor;
        font-size: 6em;
        transition: all 0.4s ease-out;
        &:hover {
            color: $color3;
            transform: rotateZ(-360deg);
        }
    }
}
//message au chargement de la page 
.confirmationMessage {
    @include flexcenter;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.9);
    color: $mainColor;
    text-shadow: 0 0 20px $color3;
    user-select: none;
    & span {
        font-family: 'belligerent';
        font-size: 6em;
        font-weight: lighter;
        margin-bottom: 50px
    }
    & .far {
        font-size: 7em;
        transform-origin: 0;
        transform: rotateZ(-30deg);
        margin-top: 50px;
    }
}

.mainConfirmation {
    @extend %flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 250px;
    &Merci {
        border-bottom: solid 1px $secondColor;
    }
    &Detail {
        margin-top: 30px;
    }
    & .orderId {
        background-color: $color3;
    }
}

@media all and (max-width: 700px) {
    .confirmationMessage {
        & span {
            font-size: 4em;
        }
    }
    .headerConfirmation {
        flex-direction: column;
        align-items: center;
        min-width: 360px;
        & h1 {
            font-size: 5em;
            margin: 10px auto;
        }
    }
    .mainConfirmation {
        min-width: 360px;
        margin: 50px auto;
        padding: 0 10px;
        margin-bottom: 150px;
    }
}