// overlay form arriere plan
.formOverlay {
    @include flexcenter;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
    animation: opacityKey 0.35s ease-out 0.1s backwards;
    //bouton pour fermer l'overlay form
    &Close {
        @include flexcenter;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: $color3;
        color: $secondColor;
        font-size: 1.2em;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease-out;
        &:hover {
            background-color: lighten($color3, 5%);
            color: black;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
// mise en page formulaire
.commandeForm {
    position: relative;
    @extend %flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 700px;
    padding: 20px 0;
    background-color: lighten($mainColor, 2%);
    border-radius: 30px;
    font-size: 1.3em;
    
    overflow: hidden;
    animation: opacityKey 0.35s ease 0.1s backwards;
    & h2 {
        font-size: 1.2em;
        color: $secondColor;
    }
    // input du form
    & div input {
        outline: none;
        border: none;
        background: transparent;
        font-size: 0.9em;
        margin-left: 20px;
        width: calc(100% - 130px);
    }
    // affichage de chaque champs text du form
    & div {
        display: flex;
        align-items: flex-end;
        width: calc(100% - 100px);
        height: 40px;
        border-bottom: solid 2px $secondColor;
        margin-top: 50px;
    }
    // bouton commander du form
    & input[type=submit] {
        margin: 50px auto;
        width: 200px;
        height: 50px;
        background-color: $color3;
        color: $secondColor;
        border: none;
        border-radius: 30px;
        box-shadow: 0 1px 5px $secondColor;
        font-size: 1.1em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: lighten($color3, 5%);
            color: black;
            box-shadow: 0 2px 8px black;
        }
    }
}

@media all and (max-width: 700px) {
    .commandeForm {
        width: auto;
        min-width: 360px;
        font-size: 1.1em;
        padding: 30px 0;
        // input du form
        & div input {
            outline: none;
            border: none;
            background: transparent;
            font-size: 0.9em;
            margin-left: 10px;
            width: calc(100% - 100px);
        }
        // affichage de chaque champs text du form
        & div {
            display: flex;
            align-items: flex-end;
            width: calc(100% - 50px);
            height: 40px;
            border-bottom: solid 2px $secondColor;
            margin-top: 40px;
        }
    }
}