.header {
    @extend %flex;
    background-color: $mainColor;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    &Logo {
        @extend %flex;
        height: auto;
        align-items: center;
        & h1 {
            color: $secondColor;
            margin-left: 20px
        }
    }
    &Pannier {
        @include flexcenter;
        background-color: $secondColor;
        height: 70px;
        width: 70px;
        border-radius: 45px;
        margin-right: 5%;
        position: relative;
        &Number {
            @include flexcenter;
            position: absolute;
            bottom: -10px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $color3;
            color: $secondColor;
            font-weight: bold;
            text-decoration: none;
        }
    }
    & .fas {
        font-size: 1.8em;
        background: -webkit-gradient(linear, left top, right bottom, from($color3), to($color4));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}