.header {
    @extend %flex;
    background-color: $mainColor;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    // partie gauche du header logo orinoco
    &Logo {
        width: fit-content;
        margin-left: 3%;
    }
    & h1 {
        color: $color3;
        margin-left: 20px;
        user-select: none;
        margin: 0;
    }
    & a {
        text-decoration: none;
    }
    // logo pannier du header
    &Panier {
        @include flexcenter;
        margin-right: 5%;
        position: relative;
        &Lien {
            @include flexcenter;
            background-color: $secondColor;
            height: 70px;
            width: 70px;
            border-radius: 45px;
        }
        //nombre de pdt dans le pannier
        &Number {
            @include flexcenter;
            position: absolute;
            bottom: -10px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $color3;
            color: $secondColor;
            font-weight: bold;
        }
    }
    //logo pannier fontawesome 
    & .fas {
        font-size: 1.8em;
        color: $mainColor;
    }
}

@media all and (max-width: 740px) {
    .header {
        flex-direction: column;
        min-width: 360px;
        &Logo {
            margin-left: 0;
        }
        &Panier {
            margin-right: 0;
        }
        & h1 {
            font-size: 7em;
        }
    }
}