.pageCommande {
    @extend %flex;
    flex-direction: column;
    width: 100%;
//block panier
    &Panier {
        @extend %flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        //carte produit dans le panier
        &Produit {
            position: relative;
            @extend %flex;
            align-items: center;
            height: 100px;
            width: 75%;
            min-width: 500px;
            margin: 10px auto;
            background-color: $mainColor;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0 2px 7px $secondColor;
            //image du produit
            &Image {
                position: absolute;
                left: 0;
                background-position: center;
                background-size: cover;
                height: 100px;
                width: calc(100% - 100px);
                opacity: 0.3;
                z-index: 0;
            }
            // nom /prix /quantité du produit dans le panier
            &Detail {
                @extend %flex;
                justify-content: space-between;
                list-style: none;
                width: calc(100% - 100px);
                font-size: 1.3em;
                font-weight: bold;
                z-index: 1;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                & .detailNom {
                    margin-left: 25px;
                }
                & .detailPrix {
                    margin-right: 25px;
                }
                & .quantiteAdd {
                    @include flexcenter;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $color3;
                    color: white;
                    cursor: pointer;
                }
                & .quantiteRemove {
                    @include flexcenter;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $color3;
                    color: white;
                    cursor: pointer;
                }
            }
            // bouton pour enlever du panier
            &Remove {
                @include flexcenter;
                width: 100px;
                height: 100px;
                background-color: $color3;
                color: $mainColor;
                cursor: pointer;
                font-weight: bold;
                font-size: 2em;
                &:hover {
                    background-color: lighten($color3, 5%);
                    color: white;
                }
            }
        }
    }
}

// total du panier
.pageCommandeTotal {
    @extend %flex;
    margin: 30px auto;
    padding: 15px 50px;
    width: 100%;
    border-top: solid 3px $secondColor;
    font-size: 1.3em;
    &Prix {
        font-weight: bold;
        margin-left: 50px;
    }
}

//validation du pannier
.pageCommandeValidation {
    width: 220px;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
    border: none;
    font-size: 1.3em;
    color: $secondColor;
    background-color: $color3;
    box-shadow: 0 1px 5px $secondColor;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: lighten($color3, 5%);
        color: black;
        box-shadow: 0 2px 8px black;
    }
}

// panier vide
.pageCommandeVide {
    @extend %flex;
    flex-direction: column;
    align-items: center;

    & p {
        font-size: 2em;
        font-family: 'belligerent';
        margin-bottom: 70px;
    }

    & .far {
        font-size: 7em;
        color: $secondColor;
    }
}
