.produitChoisi {
    @extend %flex;
    background-color: $secondColor;
    height: 500px;
    
    &Image {
        background-position: center;
        background-size: cover;
        width: 50%;
        height:300px;
    }

    &Detail {
        @extend %flex;
        flex-direction: column;
    }
}